.taskItem {
    border: 1px solid lightblue;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
}

.container {
    margin: 8px;
    border: 1px solid lightblue;
    border-radius: 2px;
}

.title {
    padding: 8px;
}

.taskList {
    padding: 8px;
}